/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";

$navbar-default-bg: #337ab7;

$navbar-default-link-color: white;

$navbar-default-link-active-color: white;

$navbar-default-link-hover-color: #d9edf7;


@import "bootstrap";
@import "wice_grid";
@import "bootstrap-datepicker3";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-ui";


body {
  margin-top: 60px;
}


// this div id is the background of ling and sessions devise
#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -3;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

// Center DIV with responsive Size(50% x 50%)
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 0;
  min-width: 320px;
}

.navbar-text.text-white {
  color: #fff;
}

.navbar-default {
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, .2);
}