.row
  .col-lg-4
    .panel.panel-primary
      .panel-heading
        %h2.panel-title Conta
      .panel-body
        = render 'form'
      .panel-footer
        .row
          .pull-right{style: 'margin-right: 10px;'}
            = link_to 'Mostrar', @account, class: 'btn btn-default'
            = link_to 'Voltar', accounts_path, class: 'btn btn-default'
